{% extends 'base.html' %}

{% block content %}
<table class="table">
    <thead>
        <th>Name</th>
        <th>DNS</th>
        <th>Protocol</th>
        <th>BGP IP</th>
        <th>BGP AS</th>
        <th>Local IP</th>
        <th>Remote IP</th>
    </thead>
    {% for router in routers %}
        <tr>
            <td>{{ router.owner }}_{{ router.id }}</td>
            <td>{{ router.dns }}</td>
            <td>{{ router.protocol }}</td>
            <td>{{ router.bgpip }}</td>
            <td>{{ router.asn }}</td>
            <td>{{ router.myip }}</td>
            <td>{{ router.remip }}</td>
        </tr>
    {% endfor %}
</table>

<a href="/" class="btn btn-info">Back</a>
{% endblock %}
